numpy==2.1.2
GitPython==3.1.43
matplotlib==3.9.2
pillow==11.0.0 # images
ipykernel # is a necessary package that allows Jupyter notebooks to interact with your Python environment
pandas==2.2.3
dask[complete]==2024.12.1 # voor het analyseren van grote datasets op 1 computer
beautifulsoup4==4.12.3 # extract information from html page -> webscraping
requests==2.32.3 # http calls
psycopg2-binary
sqlalchemy
pytest==8.3.4 # unit testing
rich # pretty formatting in terminal

