numpy==2.1.2
matplotlib==3.9.2
plotly==6.0.0 #  interactive data visualization 
ipywidgets==8.1.5 # Interactive HTML Widgets like sliders, progress bars, ....
ipykernel # is a necessary package that allows Jupyter notebooks to interact with your Python environment
pandas==2.2.3
pyarrow==19.0.1 # Apache Arrow (write and read parquet files)
geopandas==1.0.1 
beautifulsoup4==4.12.3 # extract information from html page -> webscraping
requests==2.32.3 # http calls
sqlalchemy # sql toolkit
pytest==8.3.4 # unit testing
folium==0.19.4 # beautiful maps
seaborn==0.13.2 # statistical data visualization (based on matplotlib)

# rich # pretty formatting in terminal

